<nav>
    <a href="webpages.charlotte.edu/kmcclu14/">Charlotte Home page</a>
        ||
        <a href="github.com/Kmcclu14/">Github page</a>
        ||
        <a href="Kenton-mcclure.github.io">Github.io</a>
        ||
        <a href="kenton-mcclure.github.io/itis3135/">ITIS3135.io</a>
        ||
        <a href="freecodecamp.org/kmcclu14">FCC profile</a>
        ||
        <a href="codeacademy.com/profiles/kmcclu14">codeacademy profile</a>
        ||
        <a href="www.linkedin.com/in/kentonmcclure">linkedin</a>
        ||
        <a href="Whimsical_company/about.html">Whimsical_company</a>
        ||
        <a href="/itis3135/hobby/index_hob.html">Hobby</a>
        
</nav>
<p>Copyright &copy; 2025 KentEnto</p>
<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>



        
        