<h1>Kenton McClure Kind Mouse || ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introductions</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="website_evaluation/website_evaluations.html">Website Evaluations</a>
            ||
            <a href="byo_intro.html">BYO Intro</a>

        </nav>
        ||
        <nav>
            <a href="fartpoop/POOOOOOO ;)PY.htm">crappy</a>
        </nav>

        <style>
            h1 {
                font-size: 2em;
               
            }

            nav {
                display: inline-block;
                margin: 0 10px;
            }

            nav a {
                text-decoration: none;
                color: white;
                padding: 5px;
            }

            nav a:hover {
                text-decoration: underline;
            }
        </style>